{{#if user}}
<br>
{{#each displayForms}}

<div class="card d-inline-flex p-2" style="width: 30%">
  <h4>{{title}}</h4>
  <p>{{details}}</p>
  <form action="/displayforms/pic" method="POST" style="width: 80%; margin-left: 10%">
    <input type="image" src={{img_path}} name={{title}} class="mx-auto" style="width: 100%" alt="">
    <input hidden type="text" name="name" class="form-control" value={{title}}></input>
  </form>
  <p class="text-center">{{company}}: ${{price}}</p>
</div>
{{/each}}

{{else}}
<p>Login required</p>
{{/if}}